<div ng-include="'views/templates/navbar.view.client.html'"></div>

<div class="container zw-with-nav">
    <div ng-show="model.route && model.route.id === model.routeId && model.stops">
        <h3 style="color:#{{model.route.attributes.color}}">
            {{model.route.attributes.long_name}} ({{model.directionName}})
        </h3>
        <div ng-include="'views/alert/templates/alerts.template.view.client.html'"></div>
        <div ng-repeat="stop in model.stops">
            <a href="#!/route/{{model.routeId}}/stop/{{stop.id}}?direction={{model.direction}}">
                {{stop.attributes.name}}
            </a>
        </div>
    </div>
    <div ng-if="user.isOfficial || user.isAdmin">
        <hr>
        <h4>
            Create Route Alert
        </h4>
        <form ng-submit="model.createRouteAlert()">
            <div ng-show="model.errorMessage" class="alert alert-danger">
                {{model.errorMessage}}
            </div>
            <label for="message">Message</label>
            <textarea id="message"
                      ng-model="model.alert.message"
                      placeholder="Message"
                      rows="2"
                      class="form-control"></textarea>
            <div class="zw-group">
                <button id="submitButton"
                        type="submit"
                        class="btn btn-block btn-success">
                    Create
                </button>
            </div>
        </form>
    </div>
</div>
